fastapi>=0.111.0
uvicorn>=0.30.0
pydantic>=2.7.4
pydantic[email]
pydantic-settings>=2.3.4
sqlalchemy>=2.0.31
razorpay>=1.4.3
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.9
